<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eeaassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EEAassignment">
        <activity android:name=".ViewAllBranched"></activity>
        <activity android:name=".PRoviders" />
        <activity android:name=".ConfirmOrder" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqYF0h6ecFgTBRkErrOndwiy1wXlDxewg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".BranchesDetails" />
        <activity android:name=".ViewContactUsPerUser" />
        <activity android:name=".ViewCompletedOrders" />
        <activity android:name=".ViewCancelOrders" />
        <activity android:name=".ViewPendingOrders" />
        <activity android:name=".ViewOrderDetails" />
        <activity android:name=".ViewCart" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".PharmacistHomepage" />
        <activity android:name=".UserHomePage" />
        <activity android:name=".ViewSelectedItemOrder" />
        <activity android:name=".ViewItemsForCategory" />
        <activity android:name=".ViewSelectedItems" />
        <activity android:name=".ViewProfileDetails" />
        <activity android:name=".ViewSelctedPharmacist" />
        <activity android:name=".ViewAllPharmacists" />
        <activity android:name=".AddPharmacist" />
        <activity android:name=".ViewSelectedConatctUs" />
        <activity android:name=".ViewAllContactUs" />
        <activity android:name=".ViewSelectedUserDetails" />
        <activity android:name=".ViewAllUser" />
        <activity android:name=".UpdateItemDetails" />
        <activity android:name=".ViewSelectedItemDetails" />
        <activity android:name=".ViewAllItems" />
        <activity android:name=".AddItem" />
        <activity android:name=".AdminHomePage" />
        <activity android:name=".ContactUs" />
        <activity android:name=".SearchMedicine" />
        <activity android:name=".Register" />
        <activity android:name=".Login2" />
        <activity android:name=".Login1" />
        <activity android:name=".Homepage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".StudentsProvider"
            android:authorities="com.example.eeaassignment.StudentsProvider" />
    </application>

</manifest>